@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: Poppins;
    margin: 0;
    font-size: 13px;
    background-color: #23282E;
    color: #eee;
    
}
.download-button {
    background-color: transparent; /* Transparent background */
    color: #4CAF50; /* Green text */
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .download-button:hover {
    background-color: #4CAF50; /* Green background on hover */
    color: white; /* White text on hover */
  }

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-top: 10px;
}

header nav a{
    color: #eee;
    font-size:20px;
    margin: 0 30px;
}


.tab{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    position: relative;
    background-image: url(./images/image.png);
    background-size: 50%;
}

.tab .container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

#intro{
    background-color: #16222D;

}

#intro .avatar{
    text-align: right;
    height: 100%;

}

#intro .avatar img{
    height: 100%;
    filter: saturate(0.7);
}

#intro .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 500px;
    max-width: 80%;
}

#intro .content .name,
#intro .content .job{
    font-size: 6em;
    font-family: Righteous;
    line-height: 1em;

}

.text-gradient{
    background-image: linear-gradient(
        to right,#E4454A,#CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#intro .content .des{
    margin-top: 1.2em;
    width: 70%;
    font-size: 22px;
    color:aquamarine
}
#intro .content a{
    margin-top: 1.2em;

}

#intro .content i{
    font-size: 10em;
    counter-reset: #18222c;
    position: absolute;
    top: -50px;
    right: -50px;
}


#skill{
    background-image: linear-gradient(
        45deg,#3A2530,#171514,#412726
    );
    background-size: cover;

}

#skill .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0;

}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#skill .list .item:nth-child(odd){
    background-color: #3F2525;
}

#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #CA3EA7;
    font-size: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px;
}

#skill .list .item .name{
    font-size: 1.5em;
    margin-top: 0.7em;
}


#skill .list .des{
    font-size: small;
    opacity: 0.8;
}

#project{
    background-color: #cfbaba;
    color: #444B57;

}


#project .list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 50px;
}

#project .list .item img{
    width: 100%;
    height: 150px;
    object-fit: cover;

}

#project .list .item{
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

}

#project .list .item .index{
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    background-color: #fff;
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;
}


#project .list .name{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}


#project .list .item .des{
    padding: 0 10px 10px 10px;
    font-size: small;
}


#project .list .item .author{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #eee;

}

#project .list .item .job{
    font-weight: bold;
    
}

#project .container{
    overflow: auto;

}
::-webkit-scrollbar{
    width: 0;

}

#contact{
    background-color: #242330;

}

#contact .thank{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#contact .des{
    width: 500px;
    font-size: 20px;
    max-width: 80%;
    text-align: center;

}
#contact .des a{
    width: 500px;
    font-size: 15px;
   
}

#contact .list{
    text-align: center;

}

#contact .list .item{
    display: inline-block;
    margin:10px 30px;
   
}


@media screen and (max-width: 991px) {
    #intro .avatar img{
        transform: translateX(200px);
    }
}

@media screen and (max-width:767px) {
    body{
        font-size: 10px;
    }

    header nav a{
        margin: none;
        font-size: small;
        height: 30px;
    }
    .tab{
        
        height: 118vh;
    }
    

   

    #intro .avatar img{
        transform: none;
    }

    #intro .content{
        left:20px
    }

    #intro .content .name{
        font-size: 3em;
    }
    #intro .content .job{
        font-size: 4em;
    }
    
    #intro .content .des{
        font-size: 2em;
    }
    #intro .content i{
        position: unset;
    }

    #skill .list{
        padding: 0;
        grid-template-columns: repeat(2,1fr);
    }
    
    #skill .list .item:nth-child(odd){
        background-color: unset;
    }

    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background-color: #3F2525;
    }

    #project .list {
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }

    #project .list .item img{
        height: 100px;
    }
}


.tab {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}

#intro{
    z-index: 2;
}

.active{
    --x:50%;
    --y:50%;
    
    clip-path: circle(
        0px at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out forwards;
}


@keyframes showTab{
    to{
        clip-path: circle(
            200% at var(--x) var(--y)
        );
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal-width columns */
    gap: 5px; /* Spacing between columns */
}


